@media(max-width: 1100px) {

    p {
      display: none;
    }

    .caixa-mae {
      flex-direction: column;
      justify-content: flex-start;
      padding: 10px;
    }

    .caixa-principal {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .logo-mario-e-luigi {
      width: 80vw;
      height: auto;
    }

    .header {
      margin: 0.62rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header img {
      display: none;
    }

    .header a {
      font-size: 1.25rem;
    }
}